<div mat-toolbar *ngIf= "isUserLoggedIn()">
  <div mat-toolbar-row class="navbar">
    <div class="navbar-items"> 
      <a routerLink= "/movies">
      <span class="navbar-item">movies</span>
    </a>
    <!-- <span class="spacer"></span> -->
    <a routerLink= "/profile">
      <span class="navbar-item">profile</span>
    </a>
  </div>
   
    <button
      class="navbar-button"
      mat-icon-button
      aria-label="logout"
      (click)= "logoutUser()"
    >
      <mat-icon>exit_to_app</mat-icon>
    </button>
  </div>
</div>