<div>
  <div class="card-wrapper">
    <mat-card *ngFor="let movie of movies" class="card">
      <mat-card-header>
        <mat-card-title>{{ movie.Title }}</mat-card-title>
        <mat-card-subtitle
          >Directed by: {{ movie.Director.Name }}</mat-card-subtitle
        >
      </mat-card-header>
      <div class="img-wrapper">
        <img
          mat-card-image
          src= "{{ movie.ImagePath }}"
          alt= "{{ movie.Title }}"
        />
      </div>
      <mat-card-actions>
        <button
          mat-button
          color="primary"
          (click)="openGenreDialog(movie.Genre)"
        >
          Genre
        </button>
        <button
          mat-button
          color="primary"
          (click)="openDirectorDialog(movie.Director)"
        >
          Director
        </button>
        <button mat-button color="primary" (click)="openInfoDialog(movie)">
          Details
        </button>
        <button
          mat-button
          (click)= "addFavoriteMovie(movie._id)"
          *ngIf="!isFavorite(movie._id)"
          class="heart-button"
        >
          <mat-icon>favorite_border</mat-icon>
        </button>
        <button
          mat-button
          (click)= "deleteFavoriteMovie(movie._id)"
          *ngIf="isFavorite(movie._id)"
          class="heart-button"
        >
          <mat-icon>favorite</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>