<!--src/app/user-registration-form/user-registration-form.component.html-->
<div mat-card class="form-wrapper">
  <div mat-card-content class="form form-component">
    <h2 class="user-details-head">Update User data</h2>
    <div class="inputs-wrapper">
    <div mat-form-field class="form-item">
      <legend>Username:</legend>
      <input
        class="input-form-item"
        [(ngModel)]= "userData.username"
        matinput
        placeholder="new username"
        type="text"
        name="username"
        required
      />
    </div>

    <div mat-form-field class="form-item">
      <legend>Password:</legend>
      <input
        class="input-form-item"
        [(ngModel)]= "userData.password"
        matinput
        placeholder="new password"
        type="password"
        name="password"
        required
      />
    </div>

    <div mat-form-field class="form-item">
      <legend>Email:</legend>
      <input
        class="input-form-item"
        [(ngModel)]= "userData.email"
        matinput
        placeholder="new email"
        type="email"
        name="email"
        required
      />
    </div>
    </div>
    <button mat-raised-button (click)= "updateUser()" color="primary">
      submit
    </button>
    <button mat-raised-button (click)= "deleteUser()" color="warn">
      Delete Account
    </button>
  </div>
  <div class="fav-movies">
    <h2 class="fav-movies-title">Your Favorite Movies</h2>
    
    <div *ngIf= "favoriteMovies.length" class="fav-movies-wrapper">
      <div *ngFor= "let favoriteMovie of favoriteMovies" class="fav-movies-item">
        <img [src]= "favoriteMovie.ImagePath" alt="Movie Poster">
        {{ favoriteMovie.Title }}
        <button
          (click)= "deleteFavoriteMovie(favoriteMovie._id)"
          mat-button
          color="primary"
        >
          Remove
        </button>
      </div>
    </div>
  </div>
</div>