<!-- src/app/user-registration-form/user-registration-form.component.html
<div mat-card class="form-wrapper">
  <div mat-card-content class="form">
    <div mat-form-field class="form-item">
      <legend>required field:</legend>
      <input
        [(ngModel)]= "userData.username"
        matinput
        placeholder="new username"
        type="text"
        name="username"
        required
      />
    </div>

    <div mat-form-field class="form-item">
      <legend>required field:</legend>
      <input
        [(ngModel)]= "userData.password"
        matinput
        placeholder="new password"
        type="password"
        name="password"
        required
      />
    </div>

    <div mat-form-field class="form-item">
      <legend>required field:</legend>
      <input
        [(ngModel)]= "userData.email"
        matinput
        placeholder="new email"
        type="email"
        name="email"
        required
      />
    </div>

    <button mat-raised-button (click)="updateUser()" color="primary">
      submit
    </button>
  </div>
  <div class="favMovies">
    <p class="favMovies-title">{{ userData.username }}'s Favorite Movies</p>
    <div *ngIf= "favoriteMovies.length">
      <div *ngFor= "let favoriteMovie of favoriteMovies" class="favMovies-item">
        {{ favoriteMovie.Title }}
        <button
          (click)= "deleteFavoriteMovie(favoriteMovie._id)"
          mat-raised-button
          color="primary"
        >
          unfavorite
        </button>
      </div>
    </div>
  </div>
</div> -->