.form-wrapper{
    margin: 30px;
display: flex;    
align-items: center;
justify-content: center;
flex-direction: column;
}
legend{
    font-size: small;
}
.form-item{
    margin-bottom: 20px;
}

.favMovies-title{
font-size: large;

}

.favMovies{
    margin: 40px;
    text-align: center;
}

.favMovies-item{
    margin: 10px;
}